@charset "ISO-8859-1";

@font-face {
	src: url('/fonts/cinema_st.ttf');
	font-family: 'cinema_st';
}

.fundo {
	background-color: #1b1d1e;
}

.titulo {
	font-family: 'cinema_st';
	font-weight: bold;
	text-align: center;
	color: tomato;
	width: auto;
	font-size: 6em;
	padding: 0px 20px;
	margin-top: 40px;
}

#campo-filme {
	width: 900px;
	height: 120px;
	font-size: 50px;
	text-align: center;
	border-radius: 10px;
}

.menu {
	padding: 20px 20px;
}

.botao {
	background-color: #f94144;
	margin-top: 40px;
	border: none;
	width: 900px;
	padding: 20px;
	font-size: 3em;
	font-weight: bold;
	border-radius: 10px;
	text-transform: uppercase;
}

.subtitulo {
	font-family: monaco;
	font-weight: bold;
	text-align: center;
	color: darkgray;
	font-size: 4em;
	margin-top: 20px;
}

.card {
	box-shadow: 0 8px 16px 0 black, 0 12px 30px 0 black;
	border: none;
	margin: 100px auto;
	width: 92%;
}

.titulo-filme {
	font-family: monaco;
	color: silver;
	text-align: center;
	padding: 30px;
	font-size: 3em;
}

.detalhes {
	font-family: monaco;
	color: tomato;
	font-size: 3em;
	text-align: center;
	padding: 30px;
}

.detalhes a {
	color: tomato;
}

.redes-sociais {
	text-align: center;
	font-size: 0.7em;
	width: 100%;
	height: 700px;
	background-color: black;
	padding: 40px;
}

.icone-email, .icone-github, .icone-linkedin, .icone-bitbucket {
	margin: 60px 0px 0px 40px;
	width: 100px;
}

.text-footer {
	font-size: 3.5em;
	color: gray;
	margin: 20px 0px 0px 15px;
}

.page-item, .page-link {
	background-color: #1b1d1e;
	border-color: grey;
}

.page-item {
	font-family: monospace;
	font-size: 50px;
	padding: 9px;
}

.page-link {
	text-align: center;
	line-height: 85px;
	color: white;
	padding: 10px;
	width: 112px;
	height: 110px;
	margin-top: 90px;
	border-radius: 2px;
}

@media
screen
and
(min-width:1180px)
{
.fundo {
	background-color: #1b1d1e;
}

.titulo {
	margin: 10px auto 0px auto;
	font-family: 'cinema_st';
	font-size: 82px;
	text-align: center;
	color: darkgrey;
}

.subtitulo {
	text-shadow: 2px 2px 4px black, 0 0 50px tomato, 0 0 10px tomato;
	font-family: 'cinema_st';
	text-align: center;
	color: tomato;
	position: absolute;
	top: 92px;
	right: 100px;
	font-size: 3em;
}

.menu {
	background-color: #2c2f31;
	margin: 0px auto;
	width: 89%;
	padding: 10px;
	border-radius: 5px;
}
.botao {
	margin: 0px 0px 0px 10px;
	background-color: #f94144;
	padding: 10px;
	border: none;
	width: auto;
	height: 38px;
	border-radius: 2px;
	line-height: 18px;
}

#campo-filme {
	width: 300px;
	height: 38px;
	font-size: 20px;
	text-align: left;
	border-radius: 3px;
}

.detathes, .titulo-filme, .botao {
	text-transform: uppercase;
	text-align: center;
	color: whitesmoke;
	font-size: 18px;
	font-weight: bold;
}

a {
	color: tomato;
}

main {
	width: 96%;
	margin: 0px auto;
	margin-top: 10px;
}

.card {
	border: none;
	margin: 20px 0px 40px 45px;
	box-shadow: 0 8px 16px 0 black, 0 12px 30px 0 black;
	width: 200px;
	height: 420px;
	float: left;
}

.card:hover {
	opacity: 70%;
	border: solid 1px darkgrey;
}

.titulo-filme {
	height:20px;
	text-transform: uppercase;
	text-align: center;
	font-family: monaco;
	font-size: 12px;
	padding: 0px;
	color: silver;
}

.detalhes {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 30px;
	font-weight: bold;
}

.icone-email, .icone-github, .icone-linkedin, .icone-bitbucket {
	margin: 20px 0px 0px 10px;
	width: 40px;
}

.text-footer {
	font-size: 18px;
	color: gray;
	margin: 5px 0px 0px 15px;
}

.page-item, .page-link {
	background-color: #1b1d1e;
	border-color: grey;
}

.page-item {
	font-family: monospace;
	font-size: 20px;
	padding: 0px;
}

.page-link {
	text-align: center;
	line-height: 32px;
	color: white;
	padding: 10px;
	width: 52px;
	height: 52px;
	margin-top: 10px;
	border-radius: 2px;
}

.redes-sociais {
	position: absolute;
	top: 2160px;
	text-align: center;
	font-size: 20px;
	width: 100%;
	height: 160px;
	padding: 20px;
	background-color: black;
	text-align: center;
}
}